.App {
  font-family: sans-serif;
  text-align: center;
}

/* Ocultar overlay de errores de CodeSandbox cuando es solo cross-origin */
iframe[id*="landbot"] {
  pointer-events: auto !important;
}

/* Estilo adicional para el botón de Landbot */
.LandbotLivechat {
  transition: transform 0.4s ease;
}

.LandbotLivechat:hover {
  /* transform: scale(1.05); */
  /* background-attachment: fixed; */
}

.LandbotLivechat {
  bottom: 60px !important;
  right: -15px !important;
}
